<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/splendor.min.css">
</head>
<body>
    @RenderBody()
    @if (!ViewBag.HideBackLink)
    {
        <p>
            <a href="/">Back to Home</a>
        </p>
    }
</body>
</html>